<p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span [routerLink]="['/instructions']">Instructions for filling out a form</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">          
        </button>
      </mat-toolbar-row>  
      <mat-toolbar-row>
        <span [routerLink]="['/details']">Form filling</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">          
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">         
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>
